AdfDevMigration/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AdfDevMigration"
		},
		"ADLS_SQL_PARQUET_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ADLS_SQL_PARQUET'"
		},
		"LS_ONPREM_SQLSERVER_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_ONPREM_SQLSERVER'"
		},
		"LS_SQLSERVER_PARQUET_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLSERVER_PARQUET'"
		},
		"LS_SQLSERVER_WATERMARK_TBL_LIST_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLSERVER_WATERMARK_TBL_LIST'"
		},
		"ADLS_SQL_PARQUET_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevmigration.dfs.core.windows.net/"
		},
		"SharedSelfhostedIR-Migration_properties_typeProperties_linkedInfo_resourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/11442715-cc46-49ec-b253-d92f9c67119e/resourcegroups/rg_dev_travel/providers/Microsoft.DataFactory/factories/adfdevtravel/integrationruntimes/selfHostedIntegrationRunTime"
		},
		"LS_ONPREM_SQLSERVER_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"LS_ONPREM_SQLSERVER_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "MigrationProject "
		},
		"LS_ONPREM_SQLSERVER_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "PracticeDB"
		},
		"LS_SQLSERVER_PARQUET_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"LS_SQLSERVER_PARQUET_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "MigrationProject"
		},
		"LS_SQLSERVER_PARQUET_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "PracticeDB"
		},
		"LS_SQLSERVER_WATERMARK_TBL_LIST_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"LS_SQLSERVER_WATERMARK_TBL_LIST_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "MigrationProject"
		},
		"LS_SQLSERVER_WATERMARK_TBL_LIST_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "PracticeDB"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_SQL_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ADLS_SQL_PARQUET_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ADLS_SQL_PARQUET_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SharedSelfhostedIR-Migration')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {
					"linkedInfo": {
						"resourceId": "[parameters('SharedSelfhostedIR-Migration_properties_typeProperties_linkedInfo_resourceId')]",
						"authorizationType": "Rbac"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/D_SQLTABLE_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLS_SQL_PARQUET",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Table_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().Table_Name,'_',formatDateTime(utcNow(),'yyyyMMddHHmmss'),'.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().Table_Name,'/',formatDateTime(utcNow(),'yyyyMMdd'))\n",
							"type": "Expression"
						},
						"fileSystem": "retaildw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ADLS_SQL_PARQUET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ONPREM_SQLSERVER')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_ONPREM_SQLSERVER_properties_typeProperties_server')]",
					"database": "[parameters('LS_ONPREM_SQLSERVER_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_ONPREM_SQLSERVER_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_ONPREM_SQLSERVER_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SharedSelfhostedIR-Migration",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SharedSelfhostedIR-Migration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLSERVER_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "self integrated runtime as we are fetching data from on-premises DB",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLSERVER_PARQUET_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLSERVER_PARQUET_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLSERVER_PARQUET_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLSERVER_PARQUET_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SharedSelfhostedIR-Migration",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SharedSelfhostedIR-Migration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLSERVER_WATERMARK_TBL_LIST')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLSERVER_WATERMARK_TBL_LIST_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLSERVER_WATERMARK_TBL_LIST_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLSERVER_WATERMARK_TBL_LIST_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLSERVER_WATERMARK_TBL_LIST_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SharedSelfhostedIR-Migration",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SharedSelfhostedIR-Migration')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_LOG_FAILURE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_LogPipelineFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[LogPipelineFailure]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@pipeline().parameters.StartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@pipeline().parameters.ErrorMessage",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLSERVER_WATERMARK_TBL_LIST",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ErrorMessage": {
						"type": "string"
					},
					"EndTime": {
						"type": "string"
					},
					"PipelineName": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"StartTime": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLSERVER_WATERMARK_TBL_LIST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_LOG_SUCCESS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_LogPipelineSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[LogPipelineSuccess]",
							"storedProcedureParameters": {
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowsCopied": {
									"value": {
										"value": "@pipeline().parameters.RowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"StartTime": {
									"value": {
										"value": "@pipeline().parameters.StartTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLSERVER_WATERMARK_TBL_LIST",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"RowsCopied": {
						"type": "int"
					},
					"PipelineName": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"StartTime": {
						"type": "string"
					},
					"EndTime": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLSERVER_WATERMARK_TBL_LIST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_UPD_WATERMARK_TABLE_STOREDPRO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SP_TO_UPDATE_WATERMARK_TABLE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[UpdateWatermark]",
							"storedProcedureParameters": {
								"MaxWatermarkValue": {
									"value": {
										"value": "@pipeline().parameters.MaxWatermarkValue",
										"type": "Expression"
									},
									"type": "Int64"
								},
								"TableName": {
									"value": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableSchema": {
									"value": {
										"value": "@pipeline().parameters.TableSchema",
										"type": "Expression"
									},
									"type": "String"
								},
								"WatermarkColumn": {
									"value": {
										"value": "@pipeline().parameters.WatermarkColumn",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ONPREM_SQLSERVER",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"WatermarkColumn": {
						"type": "string"
					},
					"MaxWatermarkValue": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-24T08:04:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ONPREM_SQLSERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_MAX_VALUEOF_WATERMARK_TABLE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLSERVER_PARQUET",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLSERVER_PARQUET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_WATERMARK_TBL_LIST')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLSERVER_WATERMARK_TBL_LIST",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "ADF_Watermark_TablE"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLSERVER_WATERMARK_TBL_LIST')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CHILD_INCREMENTAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKU_MAX_VALUE_FROM_WATERMARK_TABLE",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET_START_TIME",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT MAX(@{pipeline().parameters.WatermarkColumn}) AS MaxValue\nFROM @{pipeline().parameters.TableSchema}.@{pipeline().parameters.TableName}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_MAX_VALUEOF_WATERMARK_TABLE",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "IF_NEW_RECORD_EXISTS",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "LKU_MAX_VALUE_FROM_WATERMARK_TABLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@and(\n  not(equals(activity('LKU_MAX_VALUE_FROM_WATERMARK_TABLE').output.firstRow.MaxValue, null)),\n  or(\n    equals(pipeline().parameters.LastLoadValue, null),\n    greater(\n      int(activity('LKU_MAX_VALUE_FROM_WATERMARK_TABLE').output.firstRow.MaxValue),\n      int(pipeline().parameters.LastLoadValue)\n    )\n  )\n)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "CCPY_FULL_OR_INCRE_LOAD",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat(\n    'SELECT * FROM ',\n    pipeline().parameters.TableSchema, '.', pipeline().parameters.TableName,\n    if(\n        equals(pipeline().parameters.LastLoadValue, null),\n        '', \n        concat(\n            ' WHERE ', pipeline().parameters.WatermarkColumn,\n            ' > ''', pipeline().parameters.LastLoadValue, ''''\n        )\n    )\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_MAX_VALUEOF_WATERMARK_TABLE",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "D_SQLTABLE_PARQUET",
											"type": "DatasetReference",
											"parameters": {
												"Table_Name": {
													"value": "@pipeline().parameters.TableName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "EXE_UPD_WATERMARK_TABLE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "CCPY_FULL_OR_INCRE_LOAD",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_UPD_WATERMARK_TABLE_STOREDPRO",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TableSchema": {
												"value": "@pipeline().parameters.TableSchema",
												"type": "Expression"
											},
											"TableName": {
												"value": "@pipeline().parameters.TableName",
												"type": "Expression"
											},
											"WatermarkColumn": {
												"value": "@pipeline().parameters.WatermarkColumn",
												"type": "Expression"
											},
											"MaxWatermarkValue": {
												"value": "@activity('LKU_MAX_VALUE_FROM_WATERMARK_TABLE').output.firstRow.MaxValue",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "EXE_LOG_SUCCESS",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "EXE_UPD_WATERMARK_TABLE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_LOG_SUCCESS",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"RowsCopied": {
												"value": "@activity('CCPY_FULL_OR_INCRE_LOAD').output.rowsCopied",
												"type": "Expression"
											},
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"TableName": {
												"value": "@pipeline().parameters.TableName",
												"type": "Expression"
											},
											"StartTime": {
												"value": "@variables('StartTime')",
												"type": "Expression"
											},
											"EndTime": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "EXE_LOG_FAILURE",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "EXE_UPD_WATERMARK_TABLE",
											"dependencyConditions": [
												"Failed"
											]
										},
										{
											"activity": "CCPY_FULL_OR_INCRE_LOAD",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_LOG_FAILURE",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ErrorMessage": {
												"value": "@activity('CCPY_FULL_OR_INCRE_LOAD').error.message",
												"type": "Expression"
											},
											"EndTime": {
												"value": "@utcnow()",
												"type": "Expression"
											},
											"PipelineName": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"TableName": {
												"value": "@pipeline().parameters.TableName",
												"type": "Expression"
											},
											"StartTime": {
												"value": "@variables('StartTime')",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "SET_START_TIME",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "StartTime",
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"WatermarkColumn": {
						"type": "string"
					},
					"LastLoadValue": {
						"type": "string"
					},
					"StartTime": {
						"type": "string"
					},
					"ErrorMessage": {
						"type": "string"
					}
				},
				"variables": {
					"StartTime": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-25T14:09:57Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_MAX_VALUEOF_WATERMARK_TABLE')]",
				"[concat(variables('factoryId'), '/datasets/D_SQLTABLE_PARQUET')]",
				"[concat(variables('factoryId'), '/pipelines/PL_UPD_WATERMARK_TABLE_STOREDPRO')]",
				"[concat(variables('factoryId'), '/pipelines/PL_LOG_SUCCESS')]",
				"[concat(variables('factoryId'), '/pipelines/PL_LOG_FAILURE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SQLSERVER_ADLSGEN2_MIGRATION_PROJECT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_FETCH_WATERMARK_TBL_LIST",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT TableSchema,TableName,WatermarkColumn,LastLoadValue FROM dbo.ADF_Watermark_Table\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_WATERMARK_TBL_LIST",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FOREACH_ITERATE_SQLSERVER_TABLE_DETAILS",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LKP_FETCH_WATERMARK_TBL_LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKP_FETCH_WATERMARK_TBL_LIST').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LKU_MAX_VALUE_FROM_WATERMARK_TABLE",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "SELECT MAX(@{pipeline().parameters.WatermarkColumn}) AS MaxValue\nFROM @{pipeline().parameters.TableSchema}.@{pipeline().parameters.TableName}",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_MAX_VALUEOF_WATERMARK_TABLE",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "IF_NEW_RECORD_EXISTS",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "LKU_MAX_VALUE_FROM_WATERMARK_TABLE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(equals(pipeline().parameters.LastLoadValue, null), greater(int(activity('LKU_MAX_VALUE_FROM_WATERMARK_TABLE').output.firstRow.MaxValue), int(pipeline().parameters.LastLoadValue)))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "CCPY_FULL_OR_INCRE_LOAD",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat(\n    'SELECT * FROM ',\n    pipeline().parameters.TableSchema, '.', pipeline().parameters.TableName,\n    if(\n        equals(pipeline().parameters.LastLoadValue, null),\n        '', \n        concat(\n            ' WHERE ', pipeline().parameters.WatermarkColumn,\n            ' > ''', pipeline().parameters.LastLoadValue, ''''\n        )\n    )\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_MAX_VALUEOF_WATERMARK_TABLE",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "D_SQLTABLE_PARQUET",
														"type": "DatasetReference",
														"parameters": {
															"Table_Name": {
																"value": "@pipeline().parameters.TableName",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "SP_TO_UPDATE_WATERMARK_TABLE",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CCPY_FULL_OR_INCRE_LOAD",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[UpdateWatermark]",
													"storedProcedureParameters": {
														"TableName": {
															"value": {
																"value": "@pipeline().parameters.TableName",
																"type": "Expression"
															},
															"type": "String"
														},
														"TableSchema": {
															"value": {
																"value": "@pipeline().parameters.TableSchema",
																"type": "Expression"
															},
															"type": "String"
														},
														"WatermarkColumn": {
															"value": {
																"value": "@pipeline().parameters.WatermarkColumn",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LS_ONPREM_SQLSERVER",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					},
					"WatermarkColumn": {
						"type": "string"
					},
					"LastLoadValue": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-26T14:30:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_WATERMARK_TBL_LIST')]",
				"[concat(variables('factoryId'), '/datasets/DS_MAX_VALUEOF_WATERMARK_TABLE')]",
				"[concat(variables('factoryId'), '/datasets/D_SQLTABLE_PARQUET')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ONPREM_SQLSERVER')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PARENT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_FETCH_WATERMARK_TBL_LIST",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "SELECT TableSchema,TableName,WatermarkColumn,LastLoadValue FROM dbo.ADF_Watermark_Table\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_WATERMARK_TBL_LIST",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FOREACH_ITERATE_SQLSERVER_TABLE_DETAILS",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LKP_FETCH_WATERMARK_TBL_LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKP_FETCH_WATERMARK_TBL_LIST').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "EXE_CHILD_INCREMENTAL_PIPELINE",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CHILD_INCREMENTAL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"TableSchema": {
												"value": "@item().TableSchema",
												"type": "Expression"
											},
											"TableName": {
												"value": "@item().TableName",
												"type": "Expression"
											},
											"WatermarkColumn": {
												"value": "@item().WatermarkColumn",
												"type": "Expression"
											},
											"LastLoadValue": {
												"value": "@item().LastLoadValue",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-24T09:23:01Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_WATERMARK_TBL_LIST')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CHILD_INCREMENTAL')]"
			]
		}
	]
}